

.animation-one{
    background-color: white;
    border-radius: 1%;
    height: 10vh;
    aspect-ratio: 1 / 1;
    opacity: 0.2;
    animation: 4s linear 0s infinite alternate animation-one;
}
@keyframes animation-one {
    from {
          transform: translateY(0vh);
    }

    to {

        transform: translateY(50vh);
    }
}
.animation-thow{
    background-color: rgb(174, 12, 136);
    border-radius: 2rem;
    height: 10vh;
    aspect-ratio: 1 / 1;
    opacity: 0.3;
    animation: 4s linear 0s infinite alternate animation-one;
}
@keyframes animation-one {
    from {
          transform: translateY(0vh);
    }

    to {

        transform: translateY(50vh);
    }
}



/*animaciones a la derecha*/

.animatios-end{
    display: flex;
   justify-content: end;
}

.animatios-center{
    display: flex;
    justify-content: center;
}

/* 
.animation-ther{}
 */
