:root {
    --main-color: #ffff;
    --scond-color: #000;
    --main-modal-color: rgba(19, 57, 212, 0.693);
}



.botton-menu {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: relative;
    user-select: none;

}

/* .btn-success{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(10, 152, 10);
    height: 10vh;    
    width: 63px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 4px rgb(21, 39, 87);
    transition: opacity .3s ease-in-out;

}
.btn-success:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(152, 10, 76);
    height: 10vh;    
    width: 63px;
    border-radius: 10px;
    opacity: 0.6;
}

.btn-close{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(152, 10, 76);
    height: 10vh;    
    width: 63px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 4px rgb(21, 39, 87);
    transition: opacity .3s ease-in-out;

}
.btn-close:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(10, 152, 10);
    height: 10vh;    
    width: 63px;
    border-radius: 10px;
    opacity: 0.6;
} */
.close-active {
    display: none
}



/******* boton modo oscuro ************/
.dark-time-btn {
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    left: 1vw;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--main-color);
    color: var(--scond-color);
    cursor: pointer;
    outline: 0;
    border: 0;
    transition: all 0.3s ease-out;


}

.dark-time-btn:hover {
    background-color: var(--scond-color);
    color: var(--main-color);
}



/******** Variables para usar en JavaScritp *********/

.dark-mode {
    background-color: var(--scond-color);
    color: var(--main-color);
}

.scrol{
    display: none;
}

/*btn panel hambuerger*/
@media screen and (max-width: 768px) {
    .scrol{
        display: block;
    }
    .panel {


        position: fixed;
        z-index: 998;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: var(--scond-color);
        transition: transform .3s ease;
        /*de arriba*/
        /*transform: translate(0, -100%);*/

   
        transform: translate(100%, 0);
    }

    /*esta es la propiedad que va moverse con JS*/
    .panel.is-active {
        transform: translate(0, 0);
    }

    .panel-btn {
        cursor: pointer;
        transition: opacity .3s ease-in-out;
        position: fixed;
        z-index: 999;
        bottom: 1vh;
        right: 1vw;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--main-color);
    }

    .menu {
        width: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }

    .menu a {
        padding: 2rem;
        width: inherit;
        display: block;
        font-size: 1.5rem;
        text-decoration: none;
        color: var(--main-color);
        transition: all 0.3s ease;
    }

    .menu a:hover {

        font-weight: bold;
        color: var(--scond-color);
        background-color: var(--main-modal-color);


    }
}