* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: none;
}
html{
      /*para que el contenido no se desplace bruzco*/
      scroll-behavior: smooth;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: white;
    color: white;
    font-size: 20px;
    font-family: 'JetBrains Mono', monospace;    

}

hr{

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;

}
/* style globals*/
.text-center{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.content-center{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 3rem;
}
/*fin style globals*/



/* Menu de navegacion*/
header {
    /* background-color: rgb(255, 255, 255); */
    padding: 10px;
    box-shadow: 1.0px 3px 2px rgb(41, 5, 72);

}

ul {
    list-style: none;
}

nav {
    min-height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;


}

nav ul li {
    display: inline-block;
    margin: 0 10px;

}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav .margin-legth li {
    background-color: #02010294;
    /* background: rgba(133, 7, 230, 0.847); */
    color: #ffffff;
    text-align: center;
    padding: 0.5rem;
    border-radius: 5px;

}

nav .margin-legth li a {
    color: #ffffff;

}

.inicio {
    font-weight: bold;
    font-size: 20px;
}

/*fin del navegador*/








/* contenido 1*/
.content {

    padding-left: 7rem;
    padding-top: 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15rem;
    margin-bottom: 3rem;
}

.contacts {
    background: rgba(80, 3, 139, 0.847);
    color: #ffffff;
    text-align: center;
    padding: 0.8rem;
    width: 35%;
    border-radius: 5px;
    font-size: 20px;
    border-style: none;
    cursor: pointer;

}
.contacts:hover{
    transform: scale(1.02);
    transition: 0.5s;
    opacity: 0.9;
}

.curriculum {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.curriculum-title {
    font-size: 50px;
    font-weight: bold;
}	
/* fint contenido 1*/

a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
ul>a:hover{
    transform: scale(1.01);
    transition: 0.3s;
    opacity: 0.9;   
    color: #A8B8D7;
    font-weight: bold;
}

/*capturee*/
.img{
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
    padding: 0px;
    border-radius: 0.5rem;
    cursor: pointer;
}
.img:hover{
    transform: scale(1.01);
    transition: 0.5s;
    opacity: 1;

}
.content-center figure > figcaption{
    font-size: .875rem;
    line-height: 1.25rem;
    padding: 16px;
    opacity: 0.6;
}


/*Proyectos*/
.projects{
    margin-top: 0rem;
    margin-top: -10rem;
    padding: 7rem;

}

.section-projetcs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 3rem;
}



/* ability*/
.ability{
    margin-top: -10rem;
    padding: 7rem;
}



.contact{
   
    height: 90vh;
    background-color: #250344;
    border-radius: 0px 15rem 0px 5px; 
    box-shadow: 5px 4px 20px 0px rgb(202, 204, 208);
}




.content-center{

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    align-self: start;
    /* padding: 15px; */
    background-color: #020102;
    box-shadow: 0px 2px 3px 2px rgb(21, 39, 87);    
    opacity: 0.8;
    border-radius: 0.5rem;
    animation: animate 5s linear infinite;
    transition: transform 0.3s;
}
.content-center:hover{
    transform: scale(1.01);
 
    opacity: 2;
}

.content-footer{
    
    height: 40vh;
    background-color: #000;
    color: #ffffff;
}



/* contanido de proyectos con grid*/

.container-conten-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
    gap: 1rem;
    margin-top: 3rem;
    padding: 1rem;

}

/*tecnologi*/

.tecnologi-hover:hover{
    
    opacity: 0.5;
    border-radius: 1rem;
    transform: 1s ease;
}
.conten-tenologi{

    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.tecnologi-color{
    background-color: #ffffff;
    opacity: 0.9;
    height: 70px;
    border-radius: 0.8rem;
    border-style: none;
}



/*formulario*/
/* .suber-content{

    margin-top: -10rem;
} */
.conten-from-grid{
    padding: 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.from-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

/** img curriculun*/
.image-curriculum{
    width: 97%;
    border-radius: 0.5rem;

}

/*rgb(41, 5, 72);*/
.image-curriculum{
     box-shadow: -18px -17px 7px -7px rgb(41, 5, 72);
    -webkit-box-shadow: -18px -17px 7px -7px rgb(41, 5, 72);
    -moz-box-shadow: -18px -17px 7px -7px rgb(41, 5, 72);

}

.icon-redes{
    width: 30px;
}
.icon-redes:hover{
    transform: scale(1.1);
    opacity: 0.5;
    border-radius: 0.5rem;
      
}

footer{
    padding: 45px;
    display: flex;
    justify-content: center;
    flex-direction: column ;
    align-items: center;
    gap: 2rem;

}


.icon-redes-footer{
    width: 50px;
}
.icon-redes-footer:hover{
    transform: scale(1.1);
    opacity: 0.5;
    border-radius: 0.5rem;
      
}
input, textarea  {
    border-radius: 0.5rem;
    border-style: none;
    outline: none;
    padding: 0.5rem;
    font-size: 18px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
}


form{
    display: flex;

}


.img-git{
    width: 20px;
    padding: 0px;
}
.img-git:hover{
    transform: scale(1.05);
    /* opacity: 0.7; */
    border-radius: 0.5rem;
    background-color: #ffffff;     

}

    /* .img-content{
        position: relative;

    } */

.overlay, .open{
        /* margin-left: 1rem; */
        border-radius: 0.5rem;
        background-color: #ffffff;
}
.overlay:hover, .open:hover{
    transform: scale(1.05);
    opacity: 0.7;
    border-radius: 0.5rem;
    background-color: #ffffff;
}

/* responsive movil */

@media screen and (max-width: 768px) {
    .content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-top: 3rem;
    }

    header {
        display: none;
    }

    .text-center {

        text-align: center;
    }

    .content-center {
        display: flex;
        flex-direction: column;

    }

    .curriculum-title {
        font-size: 20px;
        font-weight: bold;
    }

    /*Proyectos*/
    .projects {
        height: auto;
        padding: 10px;
        margin-top: auto;
    }

    .ability {
        padding: 2px;
        margin-top: 2rem;
        /* height: 200vh; */

    }

    /* contenido 1*/
    .content {
        padding: 2rem;
        padding-top: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .container-conten-grid {

        display: flex;
        flex-direction: column;
    }

    /*formulario*/

    .contact {
        height: 120vh;
        background-color: #250344;
    }


    .conten-from-grid {
        padding: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }

    .conten-from-grid>article {
        padding-top: 5rem;
    }
    
    

}


@media screen and (max-width: 375px) {
    .contact {
        height: 160vh;
        background-color: #250344;
    }
}
